@import url('https://fonts.googleapis.com/css?family=Roboto');

head {
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #ef6115;
  font-family: 'Pacifico', cursive;
}

h2 {
  border-style: dashed;
}

#content {
  display: table;
  height: 400px;
  margin: 0 auto;
  width: 400px;
}

.content  {
  color: black;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
