h1 {
   color:#FF1493;
   font-family:Comic Sans MS;
   font-size:45px;
}
p, ul, ol, p {
   color:#FF0080;
   font-family:lucida console;
   font-size:21px;
}
h3 {
   color:#FF1493;
   font-family:Comic Sans MS;
}
body {
   background-color:#08088A;
}
